<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>OSM Events</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="events.length > 0">
    <button ion-item *ngFor="let event of events" (click)="eventDetails(event)">
      <h2 [innerHTML]="event.event"></h2>
      <p><span [innerHTML]="event.date"></span> • <span [innerHTML]="event.cost"></span> • <ion-badge [innerHTML]="event.attendingtext" [color]="event.attending ? 'secondary' : 'danger'"></ion-badge></p>
    </button>
  </ion-list>
  <p ion-text *ngIf="events.length <= 0" padding>
    There are no upcoming events planned.
  </p>
</ion-content>
